:host{
  flex:1 1 auto;
  display:flex;
  background-color: #f7f7f7;

  .bottom-text{
    text-align: center
  }

  .login-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1 1 auto;
    padding-bottom:50px;
  }

  .login-button{
    padding-left: 32px;
    padding-right:20px;
    background-color: #009575 !important;
    padding-top:2px;
    padding-bottom:2px;
  }

  .forgot-password{
    color:#06bfac;
    flex-grow:1;
  }

  .face-login{
    flex-grow:1;
  }

  .auth-buttons{
    padding: 10px 0;
  }

  .face-login-view{
    padding:15px 0 0 0;
    .mat-raised-button {
      background-color: #9000e0 !important;
      padding-top:5px;
      padding-bottom:5px;
    }
  }

  .secure-text{
    -webkit-text-security: disc;
    -moz-text-security:disc;
    text-security:disc;
  }

  .mat-raised-button{
    border-radius: 4px !important;
  }

  .flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    *{
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .forgot-password{
    font-size: 14px !important;
  }

  .mat-icon{
    color:#999;
  }

  .mat-icon.activated{
    color:#666 !important;
  }

  .input-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom:15px;
    border:1px solid #aaa;
    align-items: center;
    border-radius: 4px;
    input{
      display: inline-flex;
      flex-grow: 1;
      padding:16px 15px;
      font-size: 17px;
      border-radius: 8px;
      border:0 !important;
    }

    ::-webkit-input-placeholder { font-size: 16px; color:#aaa }
    ::-moz-placeholder { font-size: 16px; color:#aaa  } /* firefox 19+ */
    :-ms-input-placeholder { font-size: 16px; color:#aaa  } /* ie */
    input:-moz-placeholder { font-size: 16px; color:#aaa  }
  }

  md-card{
    max-width: 350px;
    width:300px;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    text-align:left;
    md-card-subtitle, md-card-content{
      font-size: 16px;
    }
    md-card-subtitle{
      margin-bottom:25px !important;
    }
  }
}
