:host{
  flex:1 1 auto;
  display:flex;
  background-color: #f7f7f7;
  width: 100%;

  .camera-snapshot {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
  }
  canvas{
    position: absolute;
      z-index: 10;
          top: 35px !important;
      /* left: 0; */
      /* right: 0; */
      max-width: 500px !important;
      max-height: 380px !important;
      object-fit: contain;
  }
  .mat-card-subtitle{
    float: left !important;
  }

  .bottom-text{
    text-align: center
  }

  .mat-card-actions{
    padding: 0 !important;
    margin-bottom:0 !important;
  }

  .camera-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1 1 auto;
  }

  .mat-card{
    margin:0 !important;
  }

  .button-container{
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0 !important;
    .input-container{
      margin-bottom:0 !important;
    }
  }
  .capture-inprogress-text{
    font-size: 20px !important;
    color: #673ab7;
  }
  .input-container{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      margin-bottom:15px;
      border:1px solid #aaa;
      margin-right:10px;
      border-radius: 4px;
      input{
        display: inline-flex;
        flex-grow: 1;
        padding:14px 15px;
        font-size: 17px;
        border-radius: 8px;
        border:0 !important;
      }
      ::-webkit-input-placeholder { font-size: 16px; color:#aaa }
  ::-moz-placeholder { font-size: 16px; color:#aaa  } /* firefox 19+ */
  :-ms-input-placeholder { font-size: 16px; color:#aaa  } /* ie */
  input:-moz-placeholder { font-size: 16px; color:#aaa  }
  }

  .login-btn-container{
    margin: auto !important;
  }

  .signup-text{
    text-align: right !important;
    margin-top:10px !important;
  }
  .faliure-msg{
    height: 40px !important;
      background-color: #eed7d7;
      color: #af4458;
      border-color: #af4458;
      border: 0.2px solid;
      border-radius: 5px;
      text-align: center;
      align-items: center;
      display: flex;
      justify-content: center;
  }
  .success-msg{
    height: 40px !important;
      background-color: #e3f7cf;
      color: #76a048;
      border-color: #76a048;
      border: 0.2px solid;
      border-radius: 5px;
      text-align: center;
      align-items: center;
      display: flex;
      justify-content: center;
  }
}
