<div class="container">
  <div class="btn-container">
    <button class="logout-button" md-raised-button color="danger" (click)="logout()">Log Out</button>
  </div>
  <div class="text-container"> Hello ! </div>
</div>