.pageContent {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.main-container{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height:100%;
}

    /* width: 100%;
    max-width: 600px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); */


/* .side-nav{
      width: 250px !important;
} */
